.landing {
  display: grid;
  grid-template-areas:
    "gif"
    "cta"
    "about"
    "team";

  @include breakpoint(md) {
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "about cta"
      "about gif"
      "team team";
  }

  @include breakpoint(xl) {
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "about team cta"
      "about team gif";
  }

  &-gif {
    border-bottom: $border-size solid black;
    grid-area: gif;

    @include breakpoint(xl) {
      border-bottom: none;
    }
  }

  &-cta {
    grid-area: cta;
    border-bottom: $border-size solid black;
    display: flex;
    justify-content: center;
    padding: 1rem;
    transition: box-shadow 0.3s ease;
    align-self: flex-start;

    @include breakpoint(md) {
      z-index: 1;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &:hover {
        cursor: pointer;
      }
    }

    @include breakpoint(lg) {
      padding: $vertical-padding $horizontal-padding-desktop;
    }
  }

  &-about {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    grid-area: about;
    padding: $vertical-padding $horizontal-padding-mobile;
    border-bottom: $border-size solid black;

    @include breakpoint(md) {
      border-right: $border-size solid black;
      padding: $vertical-padding $horizontal-padding-desktop;
      padding-right: 2rem;
    }

    @include breakpoint(xl) {
      border-bottom: none;
      padding: $vertical-padding $horizontal-padding-desktop;
    }
  }

  &-team {
    grid-area: team;
    padding: $vertical-padding $horizontal-padding-mobile;

    @include breakpoint(md) {
      padding: $vertical-padding $horizontal-padding-desktop;
    }

    @include breakpoint(lg) {
      border-right: $border-size solid black;
      padding: $vertical-padding $horizontal-padding-desktop;
    }
  }
}
