.team-member {
  display: grid;

  &-name {
  }
  &-role {
  }

  &-partita-iva {
  }
  &-download-cv {
    align-self: flex-end;
    a {
      color: black;

      &:hover {
        cursor: pointer;
        color: red;
      }
    }
  }
}
