.main-cta {
  position: relative;
  text-align: center;
  width: 100%;

  &-button {
    border: $border-size solid black;
    font-size: 1.8rem;
    width: 100%;
    padding: 0.5rem 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: black;
      color: white;
    }
  }

  &-text {
    font-size: 2rem;
    font-weight: normal;

    @include breakpoint(lg) {
      font-size: 2.5rem;
    }
  }

  &-arrow {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -53px;
    margin-bottom: -60px;

    @include breakpoint(lg) {
      margin-left: -97px;
      margin-bottom: -102px;
    }

    img {
      width: 70px;
      @include breakpoint(lg) {
        width: 120px;
      }
    }
  }
}
