.team-members-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include breakpoint(md) {
    flex-direction: row;
    gap: 2rem;
  }

  @include breakpoint(lg) {
    flex-direction: row;
    gap: 2rem;
  }

  @include breakpoint(xl) {
    flex-direction: column;
  }
}
