.footer {
  border-top: $border-size solid black;
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  gap: 1rem;
  font-size: 16px;
  text-align: center;

  @include breakpoint(md) {
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 36px;
  }

  &-links {
    display: flex;
    justify-content: center;
    gap: 8px;

    a {
      color: black;
    }
  }
}
