.navbar {
  align-self: flex-start;
  border-bottom: $border-size solid black;
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    text-align: center;
    padding: $vertical-padding $horizontal-padding-mobile;
    border-bottom: $border-size solid black;

    @include breakpoint(md) {
      border-bottom: none;
      padding: $vertical-padding $horizontal-padding-desktop;
    }

    img {
      width: auto;

      @include breakpoint(md) {
        max-height: 56px;
      }
    }
  }

  &-text {
    padding: $vertical-padding 0;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;

    @include breakpoint(md) {
      padding: $vertical-padding $horizontal-padding-desktop;
    }
  }
}
